player-connection-mode=Listen
player-connection-guid=2015193959
player-connection-debug=0
player-connection-project-name=2d platformer fighting
player-connection-ip=169.254.192.200
player-connection-ip=192.168.1.10
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=17e71d5f065141a1957cedbeee9c9408
